.Torrent-item-title {
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

li {
    overflow: auto;
}
   
li:hover {
    background: #eee;
    cursor: pointer;
}

input {
    margin-top: 15px;
    width: 100%;
}