body { 
    width: 90%;
    margin: 0 auto;
}

.App-header {
    background-color: #222;
    width: 100%;
    height: 150px;
    margin: 0;
    padding: 20px;
    color: white;
}

.File-list {

}

#add-button {
    color: red;
    padding: 20px;
    margin: 20px;
    width: 100%    
}